PySide6~=6.7.2
requests>=2.32.3
aiohttp>=3.10.5
seleniumbase~=4.32.2
selenium-wire~=5.1.0
undetected-chromedriver>=3.5.5
blinker==1.7.0
setuptools>=75.2.0
psutil>=6.0.0
pyautogui>=0.9.54
faker>=28.0.0
pandas>=2.2.2
cryptography>=43.0.0
Js2Py>=0.74
colorama>=0.4.6
uiautomator2>=3.2.3
python-dotenv>=1.0.1
pymongo~=4.8.0
qasync>=0.27.1
opencv-python
pillow~=11.0.0
numpy~=2.1.0